html, body {
    font-size: 100%;
  }
  
body {
font-family: Arial, Helvetica, sans-serif;
}

.bg-color-nav {
    background-color: #007587 !important;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

#inicio {
      height: 6rem;
      padding: 1.5rem 2rem;
      background-color: #0097a9;
      color: rgba(255,255,255,.7);;
}

#inicio a {
    color: rgba(255,255,255,.7) !important;
}

#sobremi {
    padding: 3rem 2rem;
    background-color: #b2e0e5;
    color: #007587;
}

.link-presentacion {
    color: #007587;
    font-weight: bolder;
}

.link-presentacion:hover {
    color: #007587;
    text-decoration: underline;
}

#cualidades {
    background-color:#0097a9;
    color: rgba(255,255,255,.7);;
    padding: 1.5rem 2rem;
}

#cualidades p {
    font-size: 1.5rem;
}

#cualidades .row:nth-child(odd) {
    text-align: left !important;
}

#cualidades .row:nth-child(even) {
    text-align: right !important;
}

#curriculum {
    padding: 3rem 2rem;
    background-color: #b2e0e5;
    color: #007587;
}

#collapseOne, #collapseTwo  {
    background-color: #0097a9;
    color:  rgba(255,255,255,.7);
}